# For development
DATABASE_URL=sqlite+aiosqlite:///./test.db


# For development
# BASE_URL should be the URL where your application is running.
BASE_URL=http://localhost:8000


# Google OAuth Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Github OAuth Configuration
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=


# JWT Configuration
JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRATION_DELTA=


# Session Configuration
SESSION_SECRET_KEY=